.display{
display: table;
margin-bottom: 10px;

background: white;
position: relative;
width: 100%;
-webkit-transition: 1s;
}
/*.apli:hover .imaggsd{
display: none;
}*/

.apli{
border: 1px solid whitesmoke;
padding:8px;
width: 189px;
height: 165px;
float: left;
position: relative;
overflow: hidden;
cursor: pointer;
}

.descr{
position: relative;
padding: 3px;
}
/*.imaggsd{
    -webkit-transition: 0.6s;
    position: relative;
}
.apli:hover .imaggsd{
    position: relative;
top: 5px;
 -webkit-transition: 0.6s;
 
}*/

/*.apli:hover .descr{
   top: 9px;
   position: relative;
   -webkit-transition: 0.6s;
}*/


     .nombreapli{
font-size: 14px;
font-weight: bold;
color: #262626;
     }
     .nom_apli{
height: 23px;
position: relative;
overflow: hidden;
line-height: 21px;
font-size: 14px;
font-weight: bold;
color: #262626;
     }
.asde{
font-size: 13px;
color: #575454;
}
.btn_desc{
    color: white;
background: #53C227;
position: relative;
padding: 7px;
width: 60px;
border-radius: 4px;
border: 1px solid #24A338;
}
.btn_desc:hover{
background: #51CE1F;

}
#bgt{
    text-align: right;
position: relative;
float: right;
margin-top: 19PX;
font-weight: bold;
font-size: 12px
}





.parent1   { 
  width: 192px;
  height: 0; 
  overflow: hidden;
top: -145px;
position: relative;
  -webkit-transition-property: height;
  -webkit-transition-duration: 1s; 
  -webkit-perspective: 1000px; 
  -webkit-transform-style: preserve-3d; 

  -moz-transition-property:height; 
  -moz-transition-duration: 1s; 
  -moz-perspective: 1000px; 
  -moz-transform-style: preserve-3d; 

  -o-transition-property:height; 
  -o-transition-duration: 1s; 
  -o-perspective: 1000px; 
  -o-transform-style: preserve-3d; 

  transition-property: height;
  transition-duration: 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.parent2  { 
  /* full content during animation *can* go here */ 
}
.parent3  { 
    background: white;
  /* animated, "folded" block */
/*  height: 56px; */

  -webkit-transition-property: all; 
  -webkit-transition-duration: 1s;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top; 

  -moz-transition-property: all; 
  -moz-transition-duration: 1s;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: top;

  -o-transition-property: all; 
  -o-transition-duration: 1s;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: top; 

  transition-property: all; 
  transition-duration: 1s;
  transform: rotateX(-90deg);
  transform-origin: top; 
}

/* Hover states to trigger animations */
.apli:hover .parent1  { height: 167px; }
.apli:hover .parent3  { 
  -webkit-transform: rotateX(0deg); 
  -moz-transform: rotateX(0deg); 
  -o-transform: rotateX(0deg); 
  transform: rotateX(0deg); 
  height: 167px; 
}




