    #menu li a.notsel, #menu li a.notsel:hover {

-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
color: white;
text-shadow: 0 1px 0 black;
background: #236BA3;
border-top: 1px solid #3087CA;
border-bottom: 1px solid #236BA3;
margin-top: -1px;
height: 37px;
box-shadow: 0 0 10px #000;
}